apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app-deployment
  namespace: flask-mongo-namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
        - name: flask-app
          image: vivekverma459/flask-mongodb-app:latest # replace!
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_HOST
              value: "mongodb-service"
            - name: MONGO_PORT
              value: "27017"
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret # ✅ this is the Secret name (metadata.name)
                  key: MONGO_USERNAME # ✅ this is the key inside the Secret
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: MONGO_PASSWORD

          resources:
            requests:
              cpu: "0.2"
              memory: "250Mi"
            limits:
              cpu: "0.5"
              memory: "500Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
  namespace: flask-mongo-namespace
spec:
  selector:
    app: flask-app
  ports:
    - port: 80
      targetPort: 5000
  type: NodePort
